:root:root {
    --van-primary-color: var(--main_color);
    --van-tabbar-item-active-color: var(--main_color);
    --van-tabbar-item-text-color: var(--text_color_L2);
    --van-sidebar-text-color: var(--main-color);
    --van-picker-background: var(--bg_color_L3);
    --van-picker-option-text-color: var(--text_color_L2);
    --van-picker-confirm-action-color: var(--main-color);
    --van-checkbox-checked-icon-color: var(--main-color);
    --van-checkbox-label-color: var(--text_color_L2);
    --van-field-input-text-color: var(--text_color_L1);
    --van-radio-checked-icon-color: var(--main-color);
    --van-grid-item-content-background: var(--bg_color_L1);
    --van-text-color: var(--text_color_L1);
    --van-dialog-background: var(--bg_color_L2);
    --van-circle-color: var(--main-color);
    --van-circle-layer-color: var(--bg_color_L3);
    --van-calendar-range-edge-background: var(--main-color);
    --van-button-primary-background: var(--main_color);
    --van-button-primary-border-color: var(--main-color);
    --van-toast-text-color: var(--main-color);
}

.van-picker-column__item.van-picker-column__item--selected {
    color: unset;
}

:root {
    --main_color: #D66D14;
    --main_gradient_color: linear-gradient(180deg, #FA7A06 0%, #EA5C16 100%);
    --main_gradient_1: #FA7A06;
    --main_gradient_2: #EA5C16;
    --secondary_color1: #6D5147;
    --secondary_color2: #534642;
    --secondary_color3: #E77951;
    --secondary_color4: #FBD8CC;
    --secondary_color5: #D3A898;
    --secondary_color7: linear-gradient(188deg, rgba(0, 0, 0, 0.06) 6.14%, rgba(0, 0, 0, 0.00) 99.42%);
    --secondary_color8: linear-gradient(0deg, #FBA133 0%, #FAD122 100%);
    --norm_red_color: #FB5B5B;
    --norm_green_color: #18B660;
    --norm_blue_color: #6EA8F4;
    --norm_orange_color: #FEAA57;
    --norm_Purple_color: #B659FE;
    --norm_hint_color: #FDB328;
    --button_dis: #53443E;
    --text_primary: #FFF;
    --text_secondary: #D1C9C5;
    --text_tertiary: #B38F7E;
    --text_inverse: #FFF;
    --text_btn_main: #FFFFFF;
    --text_disabled: #AEA19C;
    --text_placeholder: #9A7466;
    --bg_color_L1: #18110F;
    --bg_color_L2: #291812;
    --bg_color_L3: #38241C;
    --bg_color_L4: #472D24;
    --Stroke_color: #5A3427;
    --Dividing_line_color: #6B5249;
    --progress_bar: linear-gradient(270deg, #FFD862 0%, #FF6D33 100%);
    --score-digit-color: linear-gradient(180deg, #FBCD67 16.27%, #E7BE6C 27.59%, #FBF9C8 40.92%, #F9F2A4 52.49%, #C49954 62.03%, #D29D4D 68.28%, #FEE777 74.86%, #BA8741 79.39%, #B6672E 84.94%);
    --champion1: #ECC731;
    --champion2: #80B1F2;
    --champion3: #C78672;
    --champion-bg: #2E3847;
    --tips-color: #555965;
    --box_shadow_1: 0 4px 4px 0 rgba(3, 17, 36, 0.13);
    --text_color_L1: var(--text_primary);
    --text_color_L4: var(--text_btn_main);
    --main_gradient-color: var(--main_gradient_color);
    --norm_bule-color: var(--norm_blue_color);
    --norm_red-color: var(--norm_red_color);
    --norm_orange-color: var(--norm_orange_color);
    --norm_green-color: var(--norm_green_color);
    --norm_Purple-color: var(--norm_Purple_color);
    --norm_secondary-color: var(--norm_orange_color);
    --sheet_nva_color: var(--main_color);
    --light-main_gradient-color: var(--main_gradient_color);
    --text_color_L2: var(--text_tertiary);
    --main-color: var(--main_color);
    --main_gradient-color2: linear-gradient(0deg, #FA7A06 0%, #EA5C16 100%);
    --Dividing-line_color: var(--Dividing_line_color);
    --button_dis_color: var(--button_dis);
    --Secondary_moto_Color9: #E49753;
    --Secondary_moto_Color8: #54402E;
    --turntable-glow-color: #F15542;
}

input,
textarea {
    color: var(--text_placeholder);
}

.box_shadow {
    box-shadow: 0 4px 28px 0 rgba(56, 58, 76, 0.03);
}

.box_shadow_1 {
    box-shadow: 0 4px 4px 0 rgba(3, 17, 36, 0.13);
}

.box_shadow_2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.text_shadow {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.btn_main_style {
    background: var(--main_gradient_color, linear-gradient(270deg, #F2403A 0%, #CE0204 100%));
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.25) inset, 0 2px 0 0 rgba(255, 255, 255, 0.5) inset, 0 4px 8px 0 rgba(19, 61, 15, 0.25);
}

.btn_orange_style {
    background: var(--norm_orange_color);
}

.btn_Secondary_style {
    background: var(--bg_color_L1, #F7F8FF);
    box-shadow: 0 4px 4px 0 rgba(234, 186, 55, 0.3), 0 2px 0 0 rgba(234, 186, 55, 0.1) inset;
}

.bottom_mix_style {
    background: var(--bg_color_L2, #FFF);
    box-shadow: 0 2px 0 0 rgba(255, 243, 243, 0.45) inset, 0 -2px 12px 0 rgba(0, 0, 0, 0.12);
}

.bottom_nav_style {
    background: var(--bg_color_L2, #FFF);
    /* bottom_nav_style */
    box-shadow: 0 2px 0 0 rgba(255, 83, 51, 0.45) inset, 0 -4px 28px 0 rgba(227, 156, 149, 0.4);
}