.app-tabber[data-v-08bd3673] {
    width: 100%;
    height: 2.6rem;
    z-index: 100;
    background-color: transparent;
    border-radius: .58667rem .58667rem 0 0;
    background: var(--v5a8f5959) no-repeat;
    background-size: 100% 100%
}

.app-tabber .items[data-v-08bd3673] {
    display: flex;
    z-index: 4;
    padding: .32rem 0 0;
    position: relative;
    top: .52rem
}

.app-tabber .items .app-tabber-item[data-v-08bd3673] {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative
}

.app-tabber .items .app-tabber-item.active .text[data-v-08bd3673] {
    color: #ff4848;
    text-align: center;
    font-family: Poppins;
    font-size: .34667rem;
    font-style: normal;
    font-weight: 600;
    line-height: .44rem
}

.app-tabber .items .app-tabber-item.active[data-v-08bd3673]:before {
    position: absolute;
    content: "";
    top: -.4rem;
    left: 50%;
    transform: translate(-50%);
    width: 1.54667rem;
    height: 1.97333rem;
    background: var(--v19d05352) no-repeat center/contain
}

.app-tabber .items .app-tabber-item img[data-v-08bd3673] {
    width: .74667rem;
    height: .74667rem
}

.app-tabber .items .app-tabber-item img.img_2[data-v-08bd3673] {
    width: 2.26667rem;
    height: auto;
    position: absolute;
    bottom: .53333rem;
    left: 50%;
    transform: translate(-50%)
}

.app-tabber .items .app-tabber-item .tips[data-v-08bd3673] {
    border-radius: .66667rem;
    border: .01333rem solid var(--text_btn_main);
    background: var(--norm_red_color);
    position: absolute;
    display: flex;
    width: .48rem;
    height: .48rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -.26667rem;
    left: 60%;
    color: var(--text_btn_main);
    font-size: .26667rem;
    font-weight: 400;
    line-height: .32rem;
    font-style: normal
}

.app-tabber .items .app-tabber-item .tips_point[data-v-08bd3673] {
    width: .24rem;
    height: .24rem;
    border-radius: 50%;
    background: var(--norm_red_color);
    position: absolute;
    top: -.26667rem;
    left: 60%
}

.app-tabber .items .text[data-v-08bd3673] {
    color: #575c62;
    font-size: .32rem;
    height: .58667rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.app-tabber .items .text.mid[data-v-08bd3673] {
    width: 2.54667rem;
    height: .74667rem;
    top: 0;
    color: #fff
}

.app-tabber #turntable[data-v-08bd3673]:before {
    content: "";
    position: absolute;
    bottom: -.14667rem;
    left: 50%;
    transform: translate(-51%);
    background: var(--v5b288b75) no-repeat center/contain;
    width: 2.53333rem;
    height: 1.14667rem;
    z-index: 3;
    pointer-events: none;
    box-shadow: 0 .16rem .13333rem #00000040 inset;
    border-radius: 0 0 .93333rem .93333rem
}

.play .text p[data-v-08bd3673] {
    font-size: .4rem;
    font-style: italic;
    font-weight: 700;
    -webkit-text-stroke-width: .01333rem;
    -webkit-text-stroke-color: #933617;
    background: linear-gradient(138deg, #fff9b0 26.93%, #ffb12e 38.07%, #fff8ae 48.42%, #ffb12e 59.07%, #fff269 65.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #FFF9B0
}