.dialog[data-v-0cbd78ae] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.dialog-content[data-v-0cbd78ae] {
    background: var(--bg_color_L2, #202733);
    border-radius: .26667rem;
    width: 80%;
    height: fit-content;
    max-width: 8.93333rem;
    max-height: 90vh;
    padding: .85333rem .42667rem;
    box-shadow: 0 .02667rem .13333rem #0000001a;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .26667rem
}

.dialog-content .isNoTip[data-v-0cbd78ae] {
    display: flex;
    padding: .21333rem .32rem;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: .16rem;
    border-radius: .10667rem;
    border: .01333rem solid var(--Stroke_color, #2E3847);
    background: var(--bg_color_L2, #202733);
    color: var(--text_secondary, #86A1C0);
    font-size: .37333rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -1.46667rem
}

.dialog-content .close[data-v-0cbd78ae] {
    position: absolute;
    bottom: -1.06667rem;
    left: 50%;
    transform: translate(-50%);
    color: var(--text_color_L4);
    width: .85333rem;
    height: .85333rem
}

.dialog-content .close.close2[data-v-0cbd78ae] {
    bottom: -2.66667rem
}

.dialog-content.no-padding[data-v-0cbd78ae] {
    padding: 0
}

.dialog-title[data-v-0cbd78ae] {
    padding: .32rem 0;
    margin: -.85333rem -.42667rem 0;
    font-size: .48rem;
    font-weight: 500;
    color: var(--text_primary, #D4E8FF);
    display: flex;
    align-items: center;
    justify-content: center
}

.dialog-title.border[data-v-0cbd78ae] {
    border-bottom: .01333rem solid var(--Stroke_color, #2E3847)
}

.dialog-body[data-v-0cbd78ae] {
    margin-bottom: .21333rem
}

.dialog-footer[data-v-0cbd78ae] {
    display: flex;
    justify-content: flex-end;
    gap: .32rem;
    font-size: .42667rem
}

.dialog-footer .subBtn[data-v-0cbd78ae] {
    color: var(--text_btn_main, #F1F7FF);
    text-align: center
}

.dialog .headIcon[data-v-0cbd78ae] {
    width: 1.6rem;
    height: 1.6rem;
    margin: auto
}

.dialog.foot-column .dialog-footer[data-v-0cbd78ae] {
    flex-direction: column;
    gap: .42667rem
}