.avatar-container[data-v-2cf18466] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: .26667rem;
    row-gap: .4rem
}

.avatar-container .item[data-v-2cf18466] {
    display: flex;
    align-items: center;
    justify-content: center
}

.avatar-container .img[data-v-2cf18466] {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    transform: scale(.1);
    opacity: 0;
    animation: scaleIn-2cf18466 .6s cubic-bezier(.175, .885, .32, 1.275) forwards;
    animation-delay: var(--delay);
    border-radius: 1.6rem;
    background: var(--secondary_color5);
    padding: .04rem
}

.avatar-container .img img[data-v-2cf18466] {
    width: calc(100% - .08rem);
    height: calc(100% - .08rem);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.avatar-container .img.active[data-v-2cf18466] {
    border: .04rem solid var(--main_gradient_color);
    background: var(--main_color)
}

.avatar-container .img .check_img[data-v-2cf18466] {
    position: absolute;
    bottom: 0;
    right: 0;
    width: .50667rem;
    height: .50667rem
}

@keyframes scaleIn-2cf18466 {
    0% {
        transform: scale(.1);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

.handle[data-v-2cf18466] {
    display: flex;
    justify-content: center;
    margin-bottom: .4rem;
    margin-top: .66667rem
}

.btn[data-v-2cf18466] {
    outline: none;
    border: none;
    color: #fff;
    font-size: .42667rem;
    width: 3.2rem;
    border-radius: .66667rem;
    aspect-ratio: 4/1;
    -webkit-aspect-ratio: 4/1;
    background: var(--main_gradient_color);
    font-size: .37333rem
}