.changlongEnter[data-v-ee235c81] {
    position: fixed;
    z-index: 99;
    width: 1.49333rem;
    height: 1.49333rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.49333rem;
    background-image: url(/images/changlong-DkXUrPo9.svg);
    bottom: 4.26667rem;
    right: .4rem;
    box-shadow: 0 .02667rem .48rem #cbcadc8f;
    border-radius: 50%
}