.wrapper[data-v-622161da] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.received-dialog[data-v-622161da] {
    width: 8rem;
    padding: 1.86667rem .53333rem .85333rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .32rem;
    background: var(--bg_color_L2);
    border-radius: .21333rem;
    box-sizing: border-box
}

.received-dialog .top-img[data-v-622161da] {
    width: 3.65333rem;
    height: 2.54667rem;
    position: absolute;
    left: 50%;
    top: -1.18667rem;
    transform: translate(-50%)
}

.received-dialog .top-img .img[data-v-622161da] {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.received-dialog .received-text[data-v-622161da] {
    color: var(--text_primary, #D4E8FF);
    text-align: center;
    font-size: .48rem;
    font-weight: 500
}

.received-dialog .received-money[data-v-622161da] {
    color: var(--norm_hint_color, #EDB04C);
    text-align: center;
    font-size: .90667rem;
    font-weight: 500
}

.received-dialog .received-tips[data-v-622161da] {
    color: var(--text_secondary, #86A1C0);
    text-align: center;
    font-size: .37333rem;
    font-weight: 400;
    line-height: .48rem
}

.received-dialog .receive-btn[data-v-622161da] {
    display: flex;
    width: 6.66667rem;
    height: 1.17333rem;
    padding: .13333rem;
    justify-content: center;
    align-items: center;
    border-radius: .66667rem;
    background: var(--main_gradient_color, linear-gradient(180deg, #06D6FD 0%, #0070F4 100%));
    color: var(--text_btn_main, #F1F7FF);
    font-size: .42667rem;
    font-weight: 600;
    box-shadow: 0 -.01333rem #ffffff40 inset, 0 .02667rem #79ffffb3 inset, 0 .05333rem .10667rem #00000040
}

.received-dialog .close-icon[data-v-622161da] {
    position: absolute;
    width: .85333rem;
    height: .85333rem;
    bottom: -.85333rem;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer
}

.received-dialog .close-icon .icon[data-v-622161da] {
    width: 100%;
    height: 100%
}