:root,
:host {
    --van-number-keyboard-background: var(--van-gray-2);
    --van-number-keyboard-key-height: 48px;
    --van-number-keyboard-key-font-size: 28px;
    --van-number-keyboard-key-active-color: var(--van-gray-3);
    --van-number-keyboard-key-background: var(--van-background-2);
    --van-number-keyboard-delete-font-size: var(--van-font-size-lg);
    --van-number-keyboard-title-color: var(--van-gray-7);
    --van-number-keyboard-title-height: 34px;
    --van-number-keyboard-title-font-size: var(--van-font-size-lg);
    --van-number-keyboard-close-padding: 0 var(--van-padding-md);
    --van-number-keyboard-close-color: var(--van-primary-color);
    --van-number-keyboard-close-font-size: var(--van-font-size-md);
    --van-number-keyboard-button-text-color: var(--van-white);
    --van-number-keyboard-button-background: var(--van-primary-color);
    --van-number-keyboard-z-index: 100
}

.van-theme-dark {
    --van-number-keyboard-background: var(--van-gray-8);
    --van-number-keyboard-key-background: var(--van-gray-7);
    --van-number-keyboard-key-active-color: var(--van-gray-6)
}

.van-number-keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--van-number-keyboard-z-index);
    width: 100%;
    padding-bottom: .29333rem;
    background: var(--van-number-keyboard-background);
    -webkit-user-select: none;
    user-select: none
}

.van-number-keyboard--with-title {
    border-radius: .26667rem .26667rem 0 0
}

.van-number-keyboard__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    height: var(--van-number-keyboard-title-height);
    padding-top: .08rem;
    color: var(--van-number-keyboard-title-color);
    font-size: var(--van-number-keyboard-title-font-size)
}

.van-number-keyboard__title {
    display: inline-block;
    font-weight: 400
}

.van-number-keyboard__title-left {
    position: absolute;
    left: 0
}

.van-number-keyboard__body {
    display: flex;
    padding: .08rem 0 0 .08rem
}

.van-number-keyboard__keys {
    display: flex;
    flex: 3;
    flex-wrap: wrap
}

.van-number-keyboard__close {
    position: absolute;
    right: 0;
    height: 100%;
    padding: var(--van-number-keyboard-close-padding);
    color: var(--van-number-keyboard-close-color);
    font-size: var(--van-number-keyboard-close-font-size);
    background-color: transparent;
    border: none
}

.van-number-keyboard__sidebar {
    display: flex;
    flex: 1;
    flex-direction: column
}

.van-number-keyboard--unfit {
    padding-bottom: 0
}

.van-key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--van-number-keyboard-key-height);
    font-size: var(--van-number-keyboard-key-font-size);
    line-height: 1.5;
    background: var(--van-number-keyboard-key-background);
    border-radius: var(--van-radius-lg);
    cursor: pointer
}

.van-key--large {
    position: absolute;
    top: 0;
    right: .08rem;
    bottom: .08rem;
    left: 0;
    height: auto
}

.van-key--blue,
.van-key--delete {
    font-size: var(--van-number-keyboard-delete-font-size)
}

.van-key--active {
    background-color: var(--van-number-keyboard-key-active-color)
}

.van-key--blue {
    color: var(--van-number-keyboard-button-text-color);
    background: var(--van-number-keyboard-button-background)
}

.van-key--blue.van-key--active {
    opacity: var(--van-active-opacity)
}

.van-key__wrapper {
    position: relative;
    flex: 1;
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 0 .08rem .08rem 0
}

.van-key__wrapper--wider {
    flex-basis: 66%
}

.van-key__delete-icon {
    width: .42667rem;
    height: .29333rem
}

.van-key__collapse-icon {
    width: .4rem;
    height: .32rem
}

.van-key__loading-icon {
    color: var(--van-number-keyboard-button-text-color)
}

:root,
:host {
    --van-password-input-height: 50px;
    --van-password-input-margin: 0 var(--van-padding-md);
    --van-password-input-font-size: 20px;
    --van-password-input-radius: 6px;
    --van-password-input-background: var(--van-background-2);
    --van-password-input-info-color: var(--van-text-color-2);
    --van-password-input-info-font-size: var(--van-font-size-md);
    --van-password-input-error-info-color: var(--van-danger-color);
    --van-password-input-dot-size: 10px;
    --van-password-input-dot-color: var(--van-text-color);
    --van-password-input-text-color: var(--van-text-color);
    --van-password-input-cursor-color: var(--van-text-color);
    --van-password-input-cursor-width: 1px;
    --van-password-input-cursor-height: 40%;
    --van-password-input-cursor-duration: 1s
}

.van-password-input {
    position: relative;
    margin: var(--van-password-input-margin);
    -webkit-user-select: none;
    user-select: none
}

.van-password-input__info,
.van-password-input__error-info {
    margin-top: var(--van-padding-md);
    font-size: var(--van-password-input-info-font-size);
    text-align: center
}

.van-password-input__info {
    color: var(--van-password-input-info-color)
}

.van-password-input__error-info {
    color: var(--van-password-input-error-info-color)
}

.van-password-input__security {
    display: flex;
    width: 100%;
    height: var(--van-password-input-height);
    cursor: pointer
}

.van-password-input__security:after {
    border-radius: var(--van-password-input-radius)
}

.van-password-input__security li {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--van-password-input-text-color);
    font-size: var(--van-password-input-font-size);
    line-height: 1.2;
    background: var(--van-password-input-background)
}

.van-password-input__security i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--van-password-input-dot-size);
    height: var(--van-password-input-dot-size);
    background: var(--van-password-input-dot-color);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    visibility: hidden
}

.van-password-input__cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--van-password-input-cursor-width);
    height: var(--van-password-input-cursor-height);
    background: var(--van-password-input-cursor-color);
    transform: translate(-50%, -50%);
    animation: var(--van-password-input-cursor-duration) van-cursor-flicker infinite
}

@keyframes van-cursor-flicker {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.password-input[data-v-2717dc11] {
    padding-bottom: .53333rem
}

.header[data-v-2717dc11] {
    color: var(--text_primary, #D4E8FF);
    font-family: Poppins;
    font-size: .42667rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding: .32rem 0 .42667rem
}

.ar_password-input[data-v-2717dc11] {
    --van-password-input-height: 1.06667rem;
    --van-password-input-background: transparent;
    --van-password-input-cursor-color: var(--text_primary);
    --van-password-input-dot-color: var(--text_primary)
}

.ar_password-input[data-v-2717dc11] .van-password-input__item {
    border-radius: .16rem;
    border: .02667rem solid var(--Dividing_line_color)
}

.ar_password-input[data-v-2717dc11] .van-password-input__item--focus {
    background: transparent;
    border: .02667rem solid var(--Dividing_line_color)
}

.ar_keyboard[data-v-2717dc11] {
    --van-number-keyboard-key-font-size: .66667rem;
    --van-number-keyboard-key-background: var(--bg_color_L2);
    --van-number-keyboard-background: var(--Dividing_line_color);
    padding: .32rem .21333rem
}

.ar_keyboard[data-v-2717dc11] .van-number-keyboard__sidebar .van-key--blue {
    background: transparent url(data:image/webp;base64,UklGRuQBAABXRUJQVlA4WAoAAAAQAAAAPwAAPwAAQUxQSBwBAAABkFZtexxlj4Q44JUwDqgDcNA6KA4YB4OD4GAkREIlvBIi4WbP8gLf8isiJkD/C2+VGetx3a2XM++x9qkTga89Np8JLqlt0nS7lw9wi/He8jvcwkjmAEeKo3QFuASSngGWSMkBj6QTwBpJGSihDOAmkgqwh9qBHOoEeKgE1FAC+NESUEelMQtwDHqoPmQHrkOWAxhSgH2AFd6PMADrls6VYRk41HurfDrAANZOS+GL/ZIDrq6W+XK/K8DaI50rM6RngIs63jutnU4O4KltKbR3scx7N7WmJ3o2pdNe+PAwtZ4rU1+SWgtT+63apyqruj74FNXzfqPelrtobivRpM2jSY81mixHk8yjSZtHU3qMJlmOJt15NGlzD/avFFZQOCCiAAAAcAYAnQEqQABAAD5RJI5Eo6IhEgaQOAUEs4MUAIPJnlGJPW2oTMktYMxiuT6aB3wr3+SFhCyaTkQf7lqwAP7wAs///sQ9it/oXkCwsCddzlRkft+mL///FRMG+Xdnk9tywy9Mrf//mnfv/1+BTGNKwMYKFamkdqafmTCJW6Lyp1gf5nzGf//czf/7jUf/+5FKQcC5SSq0Pjor4r+rUJO0AAAA) no-repeat center;
    background-size: .93333rem .93333rem
}

.ar_keyboard.is_loading[data-v-2717dc11] .van-number-keyboard__sidebar .van-key--blue {
    background: transparent
}

.ar_keyboard[data-v-2717dc11] .van-key__delete-icon {
    width: .93333rem;
    height: .93333rem
}

.ar_keyboard[data-v-2717dc11] .van-key__wrapper--wider {
    flex-basis: 33%;
    margin-left: 33%;
    margin-right: 33%
}

.ar_keyboard[data-v-2717dc11] .van-key--large {
    bottom: .21333rem
}

.ar_keyboard[data-v-2717dc11] .van-key__wrapper {
    padding: 0 .21333rem .21333rem 0
}

.ar_keyboard[data-v-2717dc11] .van-number-keyboard__keys .van-key__wrapper:last-child {
    display: none
}

.ar_keyboard[data-v-2717dc11] .van-key {
    color: var(--text_primary)
}