.carousel[data-v-3a7b95b6] {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.track[data-v-3a7b95b6] {
    display: flex;
    height: 100%;
    will-change: transform
}

.slide[data-v-3a7b95b6] {
    position: relative;
    flex: 0 0 100%
}

.dots[data-v-3a7b95b6] {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: .10667rem
}

.dots.no-progress-dots[data-v-3a7b95b6] {
    gap: .25333rem;
    align-items: center
}

.icon[data-v-3a7b95b6] {
    width: .32rem;
    height: .34667rem
}

.dot[data-v-3a7b95b6] {
    height: .13333rem;
    width: .26667rem;
    border-radius: .13333rem;
    background: var(--main_color);
    position: relative;
    overflow: hidden
}

.dot.no-progress[data-v-3a7b95b6] {
    width: .16rem;
    height: .16rem;
    background: var(--main_color);
    border-radius: 50%;
    box-shadow: none;
    opacity: .5
}

.dot.active[data-v-3a7b95b6] {
    width: .66667rem;
    transition: width .2s linear
}

.no-progress.active[data-v-3a7b95b6] {
    width: .16rem;
    height: .16rem;
    opacity: 1
}

.progress[data-v-3a7b95b6] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fe2a53;
    transition: translateX .5s linear;
    transform: translate(var(--d, -100))
}