.popuer-gift[data-v-6e7162b8] {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .95;
    z-index: 999;
    transform: translate(-50%)
}

.popuer-gift .icon_return_01[data-v-6e7162b8] {
    width: .64rem;
    height: .64rem;
    position: absolute;
    top: 2%;
    left: 3%
}

.popuer-gift .content[data-v-6e7162b8] {
    padding-top: 5.06667rem;
    width: 100%
}

.popuer-gift .content .title[data-v-6e7162b8] {
    min-width: 4.53333rem;
    text-align: center;
    margin-bottom: 1.36rem
}

.popuer-gift .content .title span[data-v-6e7162b8] {
    position: relative;
    font-size: .58667rem;
    text-align: center;
    font-weight: 600;
    color: var(--text_inverse)
}

.popuer-gift .content .title .text_gift[data-v-6e7162b8] {
    width: 1.17333rem;
    height: .61333rem
}

.popuer-gift .content .gift_list[data-v-6e7162b8] {
    padding: 0 1.46667rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.30667rem
}

.popuer-gift .content .gift_list .gift_item[data-v-6e7162b8] {
    width: 2.88rem;
    height: 2.88rem;
    position: relative
}

.popuer-gift .content .gift_list .gift_item .item_f[data-v-6e7162b8] {
    width: 2.88rem;
    height: 2.88rem;
    position: relative;
    z-index: 1
}

.popuer-gift .content .gift_list .gift_item .active_item[data-v-6e7162b8] {
    width: 5.52rem;
    height: 5.78667rem;
    margin: -1.33333rem 0 0 -1.33333rem;
    position: relative;
    z-index: 1
}

.popuer-gift .content .gift_list .gift_item .amount[data-v-6e7162b8] {
    position: absolute;
    z-index: 2;
    left: .54667rem;
    top: 2.88rem;
    width: 2.4rem;
    height: .64rem;
    border-radius: .66667rem;
    border: .02667rem solid #F95959;
    background: #3f0804;
    text-align: center;
    font-size: .37333rem;
    font-weight: 600;
    line-height: .64rem;
    margin: -.24rem auto 0
}

.popuer-gift .content .gift_list .gift_item .amount span[data-v-6e7162b8] {
    background: linear-gradient(180deg, #ffeb88, #ffb62f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.popuer-gift .content .tip[data-v-6e7162b8] {
    text-align: center;
    font-size: .37333rem;
    font-weight: 500;
    line-height: normal;
    padding-top: .8rem;
    color: var(--text_inverse)
}

.scroll_num[data-v-93805657] {
    text-align: center;
    -webkit-text-stroke-width: .02rem;
    -webkit-text-stroke-color: #A40B0B;
    font-family: Poppins;
    font-size: .90667rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17333rem;
    background: linear-gradient(180deg, #fffa7b 22.55%, #fffb5e 44.98%, #ffe770, #ffb06a 73.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.withDialog .success_txt[data-v-c0e22dc3] {
    width: 5.33333rem;
    margin: 0 auto;
    color: var(--text_color_L2, #848694);
    text-align: center;
    font-size: .37333rem;
    font-weight: 400;
    line-height: .48rem
}

.withdraw-dialog[data-v-c0e22dc3] .dialog-content {
    width: 8.93333rem
}

.withdraw-dialog .amount[data-v-c0e22dc3] {
    text-align: center;
    color: var(--norm_hint_color, #EDB04C);
    font-size: .42667rem;
    font-weight: 600;
    line-height: .37333rem;
    margin-bottom: .32rem
}

.withdraw-dialog .withdraw_list .item[data-v-c0e22dc3] {
    border-radius: .16rem;
    padding: .26667rem;
    border: .02667rem solid var(--Dividing_line_color, #354053);
    margin-bottom: .32rem
}

.withdraw-dialog .withdraw_list .item img[data-v-c0e22dc3] {
    width: .64rem;
    height: .64rem;
    margin-right: .21333rem
}

.withdraw-dialog .withdraw_list .item .title[data-v-c0e22dc3] {
    color: var(--text_primary, #D4E8FF);
    font-size: .37333rem;
    font-weight: 400;
    line-height: .42667rem;
    width: 5.94667rem
}

.withdraw-dialog .withdraw_list .item .right_arrow[data-v-c0e22dc3] {
    width: .53333rem;
    height: .53333rem;
    transform: rotate(180deg)
}

.withdraw-dialog .withdraw_list .item .right_arrow2[data-v-c0e22dc3] {
    width: .53333rem;
    height: .53333rem;
    transform: rotate(0)
}

.withdraw-dialog .withdraw_list .item .pay_info[data-v-c0e22dc3] {
    display: flex;
    flex-direction: column;
    gap: .21333rem;
    margin-top: .21333rem
}

.withdraw-dialog .withdraw_list .item .pay_info .pay_item[data-v-c0e22dc3] {
    border-radius: .10667rem;
    background: var(--bg_color_L3, #2D3747);
    max-width: 6.69333rem;
    height: .85333rem;
    padding-left: .26667rem;
    padding-right: .26667rem;
    align-items: center;
    gap: .13333rem;
    margin-left: .85333rem
}

.withdraw-dialog .withdraw_list .item .pay_info .pay_item span[data-v-c0e22dc3] {
    color: var(--text_secondary, #86A1C0);
    font-size: .37333rem;
    font-weight: 400;
    line-height: .42667rem
}

.withdraw-dialog .withdraw_list .item .pay_info .pay_item span[data-v-c0e22dc3]:first-child {
    flex-shrink: 0
}

.withdraw-dialog .withdraw_list .item .pay_info .pay_item span[data-v-c0e22dc3]:last-child {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.withdraw-dialog .withdraw_list .item .pay_info .pay_item_active span[data-v-c0e22dc3] {
    color: var(--text_primary, #D4E8FF)
}

.withdraw-dialog .withdraw_list .item .pay_info .pay_item_active[data-v-c0e22dc3] {
    background: var(--main_color, #4298EA)
}

.withdraw-dialog .withdraw_list .active_item[data-v-c0e22dc3] {
    background: var(--secondary_color2, #304059);
    border-color: var(--main_color, #4298EA)
}

.success-tips[data-v-c0e22dc3] {
    margin: -2.26667rem auto 0
}

.success-tips .icon_success_tip[data-v-c0e22dc3] {
    width: 3.65333rem;
    height: 2.53333rem
}

.success-tips .icon_success_tip svg[data-v-c0e22dc3] {
    width: 100%;
    height: 100%
}

.success-tips .text[data-v-c0e22dc3] {
    color: var(--text_primary, #D4E8FF);
    font-size: .48rem;
    margin-top: .26667rem
}

.foot_btn[data-v-c0e22dc3] {
    width: 100%;
    grid-gap: .32rem
}

.foot_btn .btn[data-v-c0e22dc3] {
    width: 3.82667rem;
    height: 1.17333rem;
    justify-content: center;
    align-items: center;
    font-size: .37333rem
}

.cashOutDialog[data-v-c0e22dc3] .dialog-content {
    padding: .32rem
}

.cash_balance[data-v-c0e22dc3] {
    text-align: center;
    padding: .18667rem 0
}

.cash_balance .add[data-v-c0e22dc3] {
    color: var(--text_primary, #D4E8FF);
    font-size: .42667rem;
    font-weight: 400;
    line-height: .37333rem;
    margin-bottom: .32rem
}

.cash_balance .add[data-v-c0e22dc3] span {
    color: var(--norm_hint_color, #F6AF0B);
    font-size: .42667rem;
    font-weight: 600;
    line-height: .37333rem
}

.cash_balance .play_code[data-v-c0e22dc3] {
    color: var(--text_color_L2, #848694);
    font-size: .37333rem;
    font-weight: 400;
    line-height: .48rem
}

.subBtn[data-v-c0e22dc3] {
    color: var(--text_btn_main, #F1F7FF)
}

.receive_tip[data-v-542bcdcf] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center
}

.receive_tip .mask[data-v-542bcdcf] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1
}

.receive_tip .tip_content[data-v-542bcdcf] {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent
}

.receive_tip .tip_content .gift_animation[data-v-542bcdcf] {
    width: 2.88rem;
    height: 2.88rem;
    margin: .8rem 0
}

.receive_tip .tip_content .close[data-v-542bcdcf] {
    position: absolute;
    right: .26667rem;
    top: -1.06667rem;
    width: .42667rem;
    height: .42667rem;
    cursor: pointer
}

.receive_tip .tip_content .title[data-v-542bcdcf] {
    width: 8.08rem;
    height: 1.53333rem;
    text-align: center;
    font-size: .82667rem;
    font-weight: 700;
    background: linear-gradient(150deg, #ffcc58 27.97%, #fc973c 48.28%, #fff1af 69.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    line-height: 1.53333rem
}

.receive_tip .tip_content .title[data-v-542bcdcf]:before {
    position: absolute;
    content: "";
    top: .13333rem;
    left: -.29333rem;
    width: .58667rem;
    height: 1.22667rem;
    background-image: url(/images/receive_tip_icon-Wrh9M_Kk.webp);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    transform-origin: center
}

.receive_tip .tip_content .title[data-v-542bcdcf]:after {
    position: absolute;
    content: "";
    top: .13333rem;
    right: -.29333rem;
    width: .58667rem;
    height: 1.22667rem;
    background-image: url(/images/receive_tip_icon-Wrh9M_Kk.webp);
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center
}

.receive_tip .tip_content .tip_text[data-v-542bcdcf] {
    color: #fff;
    font-size: .37333rem;
    font-weight: 500;
    text-align: center;
    margin: .42667rem auto
}

.receive_tip .tip_content .cash_out[data-v-542bcdcf] {
    width: 4rem;
    height: 1.17333rem;
    border-radius: .66667rem;
    background: var(--main_gradient_color, linear-gradient(180deg, #06D6FD 0%, #0070F4 100%));
    margin: 0 auto;
    color: var(--text_btn_main, #F1F7FF);
    text-align: center;
    line-height: 1.17333rem;
    font-size: .37333rem;
    font-weight: 500;
    cursor: pointer
}

.ar_turntable_page[data-v-f6b9e178] {
    background-image: var(--d2fc4e9a);
    background-size: 100% 13.33333rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--bg_color_L1);
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-position-y: 1.17333rem
}

.ar_turntable_page .header[data-v-f6b9e178] {
    height: 1.17333rem;
    width: 100%;
    padding-inline: .4rem;
    position: relative
}

.ar_turntable_page .header .icon_return_01[data-v-f6b9e178] {
    width: .64rem;
    height: .64rem
}

.ar_turntable_page .header .title[data-v-f6b9e178] {
    color: var(--text_primary, #D4E8FF);
    font-size: .48rem
}

.ar_turntable_page .header .icon_nva_help[data-v-f6b9e178],
.ar_turntable_page .header .icon_History[data-v-f6b9e178] {
    font-size: .53333rem;
    margin: 0 .16rem
}

.ar_turntable_page .header .title[data-v-f6b9e178] {
    position: absolute;
    height: 1.17333rem;
    line-height: 1.17333rem;
    top: 0;
    left: 50%;
    transform: translate(-50%)
}

.ar_turntable_page .right_btn[data-v-f6b9e178] {
    grid-gap: .32rem
}

.ar_turntable_page .right_btn .nva_help[data-v-f6b9e178],
.ar_turntable_page .right_btn .icon_history[data-v-f6b9e178] {
    width: .64rem;
    height: .64rem
}

.ar_turntable_page .my_account[data-v-f6b9e178] {
    text-align: center;
    padding-top: .42667rem;
    color: var(--text_primary, #D4E8FF);
    font-size: .37333rem;
    font-weight: 500;
    margin-bottom: .26667rem
}

.ar_turntable_page .turntable_content[data-v-f6b9e178] {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.ar_turntable_page .turntable_content .scroll_num[data-v-f6b9e178] {
    display: inline-block;
    margin: 0 auto
}

.ar_turntable_page .turntable_content .amount[data-v-f6b9e178] {
    position: absolute;
    top: .26667rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    font-size: .90667rem;
    font-weight: 500;
    line-height: 1.17333rem;
    background: linear-gradient(180deg, #fffa7b 22.55%, #fffb5e 44.98%, #ffe770, #ffb06a 73.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.ar_turntable_page .turntable_content .cash_btn[data-v-f6b9e178] {
    position: absolute;
    top: 1.41333rem;
    left: 50%;
    transform: translate(-50%);
    width: 3.69333rem;
    height: 1.01333rem;
    border-radius: .66667rem;
    background: var(--main_gradient_color);
    color: var(--text_btn_main, #F1F7FF);
    text-align: center;
    text-shadow: 0 .02667rem .02667rem rgba(88, 58, 8, .5);
    font-size: .42667rem;
    font-weight: 700;
    line-height: 1.01333rem;
    z-index: 4
}

.ar_turntable_page .turntable_content .turntable_all[data-v-f6b9e178] {
    width: 100%;
    height: 12.61333rem;
    margin-top: -1.6rem;
    position: relative;
    z-index: 3
}

.ar_turntable_page .turntable_content #turntable_canvas[data-v-f6b9e178] {
    width: 8.8rem;
    height: 12.08rem;
    position: relative;
    margin: 0 auto;
    z-index: 1
}

.ar_turntable_page .turntable_content .bindeMobile[data-v-f6b9e178] {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 2.66667rem;
    height: 2.66667rem;
    transform: translate(-50%);
    z-index: 5
}

.ar_turntable_page .turntable_record[data-v-f6b9e178] {
    width: 100%;
    padding-bottom: .26667rem
}

.ar_turntable_page .turntable_record .tip[data-v-f6b9e178] {
    color: var(--text_secondary, #86A1C0);
    text-align: center;
    font-size: .32rem;
    font-weight: 500;
    line-height: .42667rem;
    margin-bottom: .48rem
}

.ar_turntable_page .turntable_record .record_list[data-v-f6b9e178] {
    padding: 0 .4rem 1.33333rem
}

.ar_turntable_page .turntable_record .record_list .title[data-v-f6b9e178] {
    color: var(--text_primary, #D4E8FF);
    font-size: .42667rem;
    font-style: normal;
    font-weight: 700;
    line-height: .42667rem
}

.ar_turntable_page .turntable_record .record_list .record_item[data-v-f6b9e178] {
    height: 1.36rem;
    padding: .32rem 0;
    border-bottom: .01333rem solid var(--Stroke_color)
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_left[data-v-f6b9e178] {
    align-items: center
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_left img[data-v-f6b9e178] {
    width: .85333rem;
    height: .85333rem;
    margin-right: .16rem;
    border-radius: 50%
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_left span[data-v-f6b9e178] {
    color: var(--text_secondary, #86A1C0);
    font-size: .34667rem;
    font-weight: 400;
    line-height: .42667rem
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_right .record_amount[data-v-f6b9e178] {
    color: var(--main_color, #4298EA);
    text-align: right;
    font-size: .34667rem;
    font-weight: 500
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_right .time[data-v-f6b9e178] {
    color: var(--text_tertiary, #627088);
    text-align: right;
    font-size: .32rem;
    font-weight: 400
}

.ar_turntable_page .turntable_record .record_list .record_item[data-v-f6b9e178]:last-child {
    border-bottom: none
}

.ar_turntable_page .invite_btn[data-v-f6b9e178] {
    color: #fff;
    text-align: center;
    text-shadow: 0 .02667rem .02667rem rgba(88, 58, 8, .5);
    font-size: .37333rem;
    font-weight: 500;
    line-height: .50667rem;
    border-radius: .66667rem;
    background: var(--main_gradient_color);
    width: 7.81333rem;
    height: 1.01333rem;
    margin-bottom: .32rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.ar_turntable_page .amount_no_tip[data-v-f6b9e178] {
    padding: .66667rem 0;
    color: var(--text_primary, #86A1C0);
    text-align: center;
    font-size: .37333rem;
    font-weight: 400;
    line-height: .48rem
}

.ar_turntable_page .sizeChange[data-v-f6b9e178] {
    animation: sizeChange-f6b9e178 1s ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 2.5s
}

@keyframes sizeChange-f6b9e178 {
    0%,
    66.67%,
    to {
        transform: translate(-50%) scale(1)
    }
    6.67% {
        transform: translate(-50%) scale(1.2)
    }
    16.67% {
        transform: translate(-50%) scale(.95)
    }
    23.33% {
        transform: translate(-50%) scale(1.25)
    }
    33.33% {
        transform: translate(-50%) scale(1)
    }
}

.rich_div {
    overflow-y: auto;
    max-height: 10.66667rem
}

.rich_div p>img {
    width: 100%;
    height: auto;
    object-fit: cover
}

.rich_dialog .confirmBtn {
    width: 6.66667rem;
    margin: auto
}