.guide-mask[data-v-925a59df] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 999998
}

.guide-hole[data-v-925a59df] {
    position: fixed;
    background: transparent;
    border-radius: .13333rem;
    box-shadow: 0 0 0 133.32rem #000c;
    border: .02667rem solid var(--secondary_color3);
    z-index: 1999999
}

.guide-hole .guide-hand[data-v-925a59df] {
    position: absolute;
    z-index: 1000000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.46667rem;
    height: 1.46667rem;
    left: 50%;
    transform: translate(-50%)
}

.guide-hole .guide-hand.guide-hand-top[data-v-925a59df] {
    top: -1.33333rem;
    background-image: url(/images/icon_finger01-DlBVMY_U.webp);
    animation: handTopMove-925a59df 1.5s ease-in-out infinite;
    transform-origin: center bottom
}

.guide-hole .guide-hand.guide-hand-bottom[data-v-925a59df] {
    background-image: url(/images/icon_finger02-Tgtd4aab.webp);
    bottom: -1.06667rem;
    animation: handBottomMove-925a59df 1.5s ease-in-out infinite;
    transform-origin: center top
}

@keyframes handTopMove-925a59df {
    0% {
        transform: translateY(0) translate(-50%) scale(.8)
    }
    50% {
        transform: translateY(.46667rem) translate(-50%) scale(1)
    }
    to {
        transform: translateY(0) translate(-50%) scale(.8)
    }
}

@keyframes handBottomMove-925a59df {
    0% {
        transform: translateY(0) translate(-50%) scale(.8)
    }
    50% {
        transform: translateY(.46667rem) translate(-50%) scale(1)
    }
    to {
        transform: translateY(0) translate(-50%) scale(.8)
    }
}