.no-data {
    display: flex;
    flex-direction: column;
    margin-top: 1.06667rem;
    align-items: center
}

.no-data .data-icon {
    width: calc(var(--width) * .01333rem);
    height: calc(var(--height) * .01333rem)
}

.no-data .data-icon svg {
    width: calc(var(--width) * .01333rem);
    height: calc(var(--height) * .01333rem)
}

.no-data img.data-icon {
    width: 2.06667rem;
    height: 3.33333rem
}

.no-data .data-text {
    color: var(--text_tertiary);
    font-size: .32rem
}