@charset "UTF-8";
@keyframes popup-scale-in-26485d02 {
    0% {
        transform: scale(.5);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

.popup-mask[data-v-26485d02] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000c;
    display: flex;
    align-items: center;
    justify-content: center
}

.popup-mask.hideMask[data-v-26485d02] {
    background: transparent
}

.isForcePopup_link[data-v-26485d02] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer
}

.popup-content[data-v-26485d02] {
    border-radius: .10667rem;
    width: 90%;
    max-width: 10rem;
    min-height: 6rem;
    padding: .32rem;
    position: relative;
    animation: popup-scale-in-26485d02 .1s ease-out
}

.lucky-main[data-v-26485d02] {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popup-scale-in-26485d02 .1s ease-out
}

.popup-close[data-v-26485d02] {
    position: absolute;
    width: .64rem;
    height: .64rem;
    font-size: .64rem;
    top: -.85333rem;
    right: .32rem;
    cursor: pointer
}

.popup-close-4[data-v-26485d02] {
    width: .42667rem;
    height: .42667rem;
    font-size: .42667rem
}

.popup_img[data-v-26485d02] {
    width: 100%;
    height: auto;
    object-fit: cover
}

.otherBtn[data-v-26485d02] {
    margin: .06667rem auto 0;
    color: var(--text_btn_main);
    text-align: center;
    font-family: Poppins;
    font-size: .37333rem;
    font-style: normal;
    font-weight: 600;
    background: var(--main_gradient_color);
    height: .85333rem;
    line-height: .85333rem;
    border-radius: .21333rem;
    width: fit-content;
    min-width: 3.41333rem;
    padding: 0 .42667rem
}

.countdown[data-v-26485d02] {
    height: .48rem;
    width: fit-content;
    line-height: .48rem;
    color: #f1d25e;
    font-family: Poppins;
    font-size: .32rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: .32rem auto 0;
    position: relative
}

.countdown[data-v-26485d02]:before,
.countdown[data-v-26485d02]:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: .85333rem;
    height: .02667rem;
    background-color: #f1d25e
}

.countdown[data-v-26485d02]:before {
    left: -1.06667rem
}

.countdown[data-v-26485d02]:after {
    right: -1.06667rem
}

.expiredTime[data-v-26485d02] {
    color: #f1d25e;
    font-family: Poppins;
    font-size: .48rem;
    font-style: normal;
    font-weight: 600;
    line-height: .72rem;
    height: .72rem;
    text-align: center
}

.popup-checkbox[data-v-26485d02] {
    margin: .21333rem auto 0;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .16rem;
    padding: .21333rem .32rem;
    border-radius: .10667rem;
    background: var(--bg_color_L2);
    border: .01333rem solid var(--Stroke_color);
    font-size: .37333rem;
    color: var(--text_secondary)
}

.popup-checkbox[data-v-26485d02] .check-svg {
    width: .48rem;
    height: .48rem;
    font-size: .48rem;
    cursor: pointer
}

.giftpackAnimat[data-v-26485d02] {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    background: url(/images/coinsFlying-FxgOuxF9.webp) no-repeat center center;
    background-size: contain
}

.hideRightBox[data-v-26485d02] {
    position: fixed;
    top: 10.13333rem;
    right: .4rem;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 9
}

.hideRightBox .hideBoxBg[data-v-26485d02] {
    width: 2.66667rem;
    height: 2.13333rem;
    background: url(/images/hideGift-CemRRJkV.webp) no-repeat center bottom;
    background-size: 2.13333rem auto
}

.hideRightBox .hideRegBox[data-v-26485d02] {
    width: 2.66667rem;
    height: 2.13333rem;
    background: url(/images/regBox-API5lUS3.webp) no-repeat center bottom;
    background-size: 2.13333rem auto;
    animation: swing-26485d02 1.6s infinite cubic-bezier(.25, .46, .45, .94)
}

.hideRightBox .hideCountdown[data-v-26485d02] {
    position: absolute;
    bottom: -.26667rem;
    color: #ffdf61;
    text-align: center;
    text-shadow: 0 .02667rem .02667rem rgba(0, 0, 0, .25);
    font-size: .32rem;
    font-style: normal;
    font-weight: 600;
    display: flex;
    width: 2.13333rem;
    height: .53333rem;
    line-height: .53333rem;
    justify-content: center;
    border-radius: .53333rem;
    border: .02667rem solid #06D6FD;
    background: #202733
}

.regCountdown[data-v-26485d02] {
    position: absolute;
    top: -.26667rem;
    text-align: center;
    font-size: .32rem;
    font-style: normal;
    font-weight: 600;
    display: flex;
    width: 2.58667rem;
    height: .90667rem;
    justify-content: center;
    align-items: center;
    background: url(/images/cuttdown-Cz3gTT1v.webp) no-repeat center bottom;
    background-size: 2.58667rem .90667rem;
    padding-top: .10667rem
}

.regCountdown .cutTopBg[data-v-26485d02] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.58667rem;
    height: .41333rem;
    background: url(data:image/webp;base64,UklGRmwBAABXRUJQVlA4WAoAAAAQAAAAwQAAHgAAQUxQSH0AAAABcBvbtqpc+//j7u6eWg10QExEG/RAe7ThvK8hc4eMiJgA+Pv/N4hIIszMEkmoMevsftxoY24nQYU55dbFmNDbPbQKlsYkUV0e3Y/rvtz1tBhjhQGQnZ/v3ffrNRtmLQKlS266M9d5J0mgd0l3V8t6DEHzHM9mHATlIyJ8ewBWUDggyAAAAJAGAJ0BKsIAHwA+nU6iTSwsiKYCKiwE4lpAB2qJEL7qv9Zg3HMpbkYgOgdA6ByvnAiCXvzBq9ZBrDSbSwAA/vz/AAAZfySC1XEG86buth3VFkhGNsJSnPe4f/NA0Je2OnEUP39oj+PIB8lt+4db4UiNDukoRp9I35q+hYwEGcVoOmSWkK/uDxaX1JV7SHVkhJizTdna6dAdEX5jaqTKnVKewHZ4wrSjeBhokf+XEjw/5/1O4Vuuqp0b6LWJs8bRU1sT7Ng2ugAA) no-repeat center bottom;
    background-size: 2.58667rem .90667rem;
    z-index: 1
}

.regCountdown span[data-v-26485d02] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: .16rem;
    height: .13333rem;
    background: url(data:image/webp;base64,UklGRoAAAABXRUJQVlA4WAoAAAAQAAAAAwAACQAAQUxQSBsAAAABHyAQIDjxP2kjIoITBNk247nEKese0f/A6gAAVlA4ID4AAAAwAgCdASoEAAoAAkA4JagCdLoAyv+7AAi5AAD+9f0fJ0rkbX83BZcgD/82Ww/yktG/68I/6pLRv/6nH9ZQAA==) no-repeat center bottom;
    background-size: .05333rem auto
}

.regCountdown span.digitBg[data-v-26485d02] {
    width: .22667rem;
    height: .32rem;
    background: url(data:image/webp;base64,UklGRqQAAABXRUJQVlA4WAoAAAAQAAAAEQAAFwAAQUxQSBkAAAABF/DI/4iIQnHbthFzd/+9+4/ofyaezwINAFZQOCBkAAAA0AQAnQEqEgAYAD6ZOplIJKqTm/qsAFgJhLKAXYAId8dC/uRPkrfB+No+LvxlMuwA/p/d00ER6lw9xMPnatj7PvXFzZEUKPrf7TvGsOh1wEe5POpYlKL0+47xKkWbA+fcviAAAA==) no-repeat center bottom;
    background-size: .22667rem auto
}

.regCountdown span .digit[data-v-26485d02] {
    width: .16rem;
    height: .26667rem;
    background-size: .16rem auto
}

.regCountdown span .digit[data-number="0"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRtoAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCBkAAAAcAMAnQEqDAAUAD6dQJlIJAhMAgAsBOJbACdMoRwACnHqbEBAAP7xwlP8yojCj+rnTZVDn87KEEPQUqEjiuMoBUPDy/+GriOlHdXw0vf58r0jbf1vTTdrSbyQ8XRuQPC/eKIQAA==)
}

.regCountdown span .digit[data-number="1"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRuYAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCBwAAAAMAQAnQEqDAAUAD6dPplIJgjMAgAsBOJbACdMoRwGQAAcDk5z16nN8/gAAP4RLt4Z7qTSu29yVVZyMOEogG57z5jPGLIiJPWr9hw3T+yTvdTp0LcpaL1RwXN1+NJDI5Dgb9MQvejbnBn6SIDno2QAAA==)
}

.regCountdown span .digit[data-number="2"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRgQBAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCCOAAAAEAQAnQEqDAAUAD6dQJpIqAisAgAsBOJbACdMoRwACkx7u7+S62HdnjAA/myc9V4IzIcEP2LWLLt2H9V5BaEVJ0NFw0Nk7McFCRA7x809rQG18oeG6i+8Lodt/X1+36Q/+JR3c3yBvYtYEtb0WzlotCO7myN8vvwk7/JOwTM4h95k+Pwfcr59MFsRXxAAAA==)
}

.regCountdown span .digit[data-number="3"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRuwAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCB2AAAA8AMAnQEqDAAUAD6dPppIKApMAgAsBOJbACdMoRwACkx8Zb2Ud+R8AAD+bJz1XgjMhwQ/YtYspDOdoKQgmdPc+0IDa+BUPDy/SDwHIMx5Bg7Y/iuhPxyS8Oq7RFbLNuyrwLyIw9i3lek8QW5Xw65re+ddPWlAAA==)
}

.regCountdown span .digit[data-number="4"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRu4AAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCB4AAAAkAQAnQEqDAAUAD6dQJpIpgisAgAsBOJbACdMoRisIQ8Xq2nNbegWCNz51RfQAP5sVNN0Im37wmje0zL8r47dogXK35Czmg/v3kW+Sxc/yxiVHb/LROTZ57cYhWe/aeDRLU1HP8DIXVCHZ5imrnrDqL4NUdlkAAAA)
}

.regCountdown span .digit[data-number="5"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRvoAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCCEAAAA8AMAnQEqDAAUAD6dPppIpAosAgAsBOJbACdMoRwACkx/5usZz/0hkAD+8dAq26rmrXG2rQEBMnL1kw8Hs7QQgkRC0wve5Q6V1HHqHh5f/DVxHSjur4aOszBZ+lmbCXgjPApqSzvb3YJhuBUzf22E4WDgfwZZ1VWvLA7zEdEXXdPWlAAA)
}

.regCountdown span .digit[data-number="6"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRtoAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCBkAAAAkAMAnQEqDAAUAD6dPplIJAhMAgAsBOJbACdMoRwACkx/V8fyQAD+8dAq26rmrXG2mbW9TRhO1gMBnwB2atWJdW/+GriOlHdXw0dZmNPBB0o7q+Glya8YsScJMJ2f61NMAgAAAA==)
}

.regCountdown span .digit[data-number="7"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRuoAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCB0AAAA8AMAnQEqDAAUAD6dPppIKAhMAgAsBOJbACdMoRwACkx7dDBMG0UIoAD+bJz1XgjMhwQ/YtYsj9Q14jkXzYGoH+4HuSvOimXVvvC6Hbf19ddUEdNN2s61XA7O1fc4T8aSGfKc+YfguanHF/LBz93ISsgAAAA=)
}

.regCountdown span .digit[data-number="8"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRsIAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCBMAAAAEAMAnQEqDAAUAD6dPplIJAhMAgAsBOJbACdMoRwAD6oAAP7wpdcVxlAKh4eX/w1cR0o7q+Gl7/doFSXe7q+Gl3eDddvJAqi7bUAAAA==)
}

.regCountdown span .digit[data-number="9"][data-v-26485d02] {
    background-image: url(data:image/webp;base64,UklGRuYAAABXRUJQVlA4WAoAAAAQAAAACwAAEwAAQUxQSE8AAAABYE1rb5iiBGEIRZrBarAYpAZDGEIRghCE7+XvUwUiYgKs2K627lL5LBhbgGhynpBEl07aV8hwszfVCkuiSychmpxwgg/pUF7IHHkV278BAFZQOCBwAAAAEAQAnQEqDAAUAD6dQpxJJgqMAgAsBOJbACdMoRwACnH3GbTVWs3OfAAA/vHCTlaGjYO9RKdZjZE0mrU7Fz/+GriOlHdXw0vf6ljtxiFZ79UP6HMrxZT3jnJbUR9apaS7yzdSfTWjsR2MdG2JmuAAAA==)
}

.lucky-register[data-v-26485d02] {
    display: flex;
    flex-direction: column;
    align-items: center
}

.lucky-register .tit[data-v-26485d02] {
    text-shadow: 0 .10667rem .16rem rgba(0, 0, 0, .5);
    font-size: .64rem;
    font-style: normal;
    font-weight: 600;
    line-height: .85333rem;
    background: linear-gradient(182deg, #fff674 28.93%, #ffae3d 40.15%, #b17a2a 46.17%, #ffa32c 61.76%, #fff464 72.14%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .32rem
}

.lucky-register .regBox[data-v-26485d02] {
    position: relative;
    z-index: 9;
    width: 6.4rem;
    height: 6rem;
    background: url(/images/regBoxOpen-Dm65f_4h.webp) no-repeat center;
    background-size: cover
}

.lucky-register .text[data-v-26485d02] {
    margin-top: -.66667rem;
    color: #fff;
    width: 6.66667rem;
    text-align: center;
    font-size: .32rem;
    font-style: normal;
    font-weight: 500;
    line-height: .42667rem
}

@keyframes zoomInOut-26485d02 {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}

@keyframes swing-26485d02 {
    0%,
    to {
        transform: rotate(0)
    }
    20% {
        transform: rotate(2deg)
    }
    40% {
        transform: rotate(4deg)
    }
    60% {
        transform: rotate(2deg)
    }
    80% {
        transform: rotate(-2deg)
    }
    to {
        transform: rotate(0)
    }
}

.weekCardPop[data-v-26485d02] {
    width: 7.94667rem;
    height: 8.45333rem;
    background: url(/images/weekCard-DxpMyrN2.webp) no-repeat center center;
    background-size: contain
}