.countdown-timer[data-v-84d2e234] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.countdown-timer p[data-v-84d2e234] {
    color: var(--text_tertiary);
    font-weight: 600;
    font-size: .37333rem
}

.countdown-timer span[data-v-84d2e234] {
    color: var(--main_color);
    font-size: .32rem
}