@charset "UTF-8";
.calendar[data-v-dab3740b] {
    margin-top: .32rem
}

.container[data-v-dab3740b] {
    display: flex;
    flex-direction: column;
    padding: .32rem .4rem;
    gap: .42667rem
}

.body1[data-v-dab3740b] {
    border-radius: .21333rem;
    overflow: hidden
}

.body1 .head[data-v-dab3740b] {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: .42667rem .32rem .32rem;
    background: var(--secondary_color2)
}

.body1 .head .l .t[data-v-dab3740b] {
    height: fit-content;
    line-height: .64rem;
    color: var(--text_primary);
    font-size: .42667rem;
    font-weight: 500
}

.body1 .head .l .b[data-v-dab3740b] {
    line-height: .42667rem;
    height: fit-content;
    color: var(--text_secondary);
    font-size: .29333rem
}

.body1 .head .r[data-v-dab3740b] {
    border-radius: .21333rem;
    border: .01333rem solid var(--main_color);
    width: 2.93333rem;
    padding: .17333rem .29333rem;
    text-align: center;
    font-size: .37333rem;
    line-height: .37333rem;
    color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center
}

.body1 .content[data-v-dab3740b] {
    padding: .34667rem .32rem .42667rem;
    background: var(--bg_color_L2);
    display: flex;
    flex-direction: column;
    gap: .26667rem
}

.body1 .content .title[data-v-dab3740b] {
    color: var(--text_primary);
    font-size: .32rem;
    line-height: .42667rem;
    margin-bottom: .21333rem
}

.body1 .content .item[data-v-dab3740b] {
    display: flex;
    height: .96rem;
    justify-content: space-between;
    align-items: center;
    padding: .26667rem .32rem;
    box-sizing: border-box;
    color: var(--text_secondary);
    font-size: .32rem;
    background: var(--bg_color_L3);
    border-radius: .16rem
}

.body1 .content .item span[data-v-dab3740b] {
    color: var(--text_primary);
    font-size: .37333rem
}

.body1 .content .item span.green[data-v-dab3740b] {
    color: var(--norm_green_color)
}

.rule-top[data-v-dab3740b] {
    display: flex;
    flex-direction: column;
    gap: .10667rem
}

.rule-top .k[data-v-dab3740b] {
    display: flex;
    align-items: center;
    font-size: .32rem;
    gap: .10667rem;
    color: var(--text_secondary)
}

.rule-top .k .icon[data-v-dab3740b] {
    width: .32rem;
    height: .32rem;
    flex: none
}

.rule-top .k span[data-v-dab3740b] {
    flex: 1;
    text-align: end;
    color: var(--text_primary)
}

.rule-top .k span.red[data-v-dab3740b] {
    color: var(--norm_red_color)
}

.rule-table[data-v-dab3740b] {
    margin-top: .32rem;
    font-size: .32rem
}

.rule-table .head[data-v-dab3740b] {
    display: flex;
    background: var(--secondary_color2);
    align-items: stretch;
    min-height: .96rem
}

.rule-table .head .item[data-v-dab3740b] {
    flex: 1;
    text-align: center;
    color: var(--text_primary);
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal
}

.rule-table .th[data-v-dab3740b] {
    display: flex;
    min-height: .85333rem;
    border-bottom: .01333rem solid var(--Stroke_color);
    border-right: .01333rem solid var(--Stroke_color)
}

.rule-table .th[data-v-dab3740b]:nth-of-type(odd) {
    background: var(--bg_color_L3)
}

.rule-table .th .item[data-v-dab3740b] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_secondary);
    border-left: .01333rem solid var(--Stroke_color);
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal
}

.rule-table .th .item[data-v-dab3740b]:first-child {
    color: var(--text_primary)
}