.vip_history_body[data-v-85f54ecc] {
    display: flex;
    flex-direction: column;
    gap: .42667rem;
    padding: .32rem .32rem .42667rem
}

.vip_history_body .item[data-v-85f54ecc] {
    border-radius: .21333rem;
    background: var(--bg_color_L2, #202733);
    box-shadow: 0 .05333rem .37333rem #383a4c08;
    padding: .42667rem .32rem
}

.vip_history_body .item .head[data-v-85f54ecc] {
    font-size: .42667rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: .26667rem;
    font-family: Poppins
}

.vip_history_body .item .head.c1[data-v-85f54ecc] {
    color: var(--norm_orange_color)
}

.vip_history_body .item .head.c2[data-v-85f54ecc],
.vip_history_body .item .head.c3[data-v-85f54ecc],
.vip_history_body .item .head.c4[data-v-85f54ecc] {
    color: var(--norm_green_color)
}

.vip_history_body .item .head.c5[data-v-85f54ecc],
.vip_history_body .item .head.c6[data-v-85f54ecc] {
    color: var(--norm_blue_color)
}

.vip_history_body .item .head.c7[data-v-85f54ecc] {
    color: var(--norm_red_color)
}

.vip_history_body .item>div[data-v-85f54ecc]:not(.head) {
    margin-top: .16rem;
    font-size: .32rem;
    color: var(--text_primary, #D4E8FF)
}

.vip_history_body .item>div.time[data-v-85f54ecc] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text_secondary, #86A1C0)
}

.vip_history_body .item>div.time span[data-v-85f54ecc] {
    font-size: .37333rem;
    font-weight: 500
}

.vip_history_body .item>div.time .s[data-v-85f54ecc] {
    color: var(--norm_green_color)
}

.vip_history_body .item>div.time .f[data-v-85f54ecc] {
    color: var(--norm_red_color)
}