.tip[data-v-57946a43] {
    color: #fff;
    padding: 1.06667rem .66667rem;
    text-align: center;
    font-size: .42667rem
}

[data-v-57946a43] form {
    padding: 0 .4rem
}

.switch-title[data-v-57946a43] {
    text-align: center;
    font-size: .69333rem;
    line-height: .96rem;
    font-weight: 600;
    color: var(--text_primary);
    padding: .32rem 0 .10667rem
}

.login-tabs[data-v-57946a43] {
    position: relative;
    margin: 0 .53333rem .53333rem;
    height: .96rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

.login-tabs .tab-line[data-v-57946a43] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .02667rem;
    background: var(--Dividing_line_color);
    opacity: 1
}

.login-tabs .tab[data-v-57946a43] {
    flex: auto;
    min-width: 0;
    text-align: center;
    font-size: .37333rem;
    line-height: .56rem;
    color: var(--text_primary);
    padding-bottom: .24rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.login-tabs .tab.active[data-v-57946a43] {
    color: var(--main_color);
    font-weight: 600
}

.login-tabs .tab-indicator[data-v-57946a43] {
    position: absolute;
    bottom: -.04rem;
    left: 25%;
    transform: translate(-50%);
    width: 1.86667rem;
    height: .08rem;
    background: var(--main_color);
    border-radius: .08rem
}

.login-tabs .tab-indicator.right[data-v-57946a43] {
    left: 75%
}

.verify-wrapper[data-v-57946a43] {
    padding: 0 .4rem;
    margin-top: .21333rem;
    margin-bottom: .21333rem;
    box-sizing: border-box
}

.handle[data-v-57946a43] {
    display: flex;
    justify-content: center;
    gap: .26667rem;
    margin-bottom: .4rem
}

.btn[data-v-57946a43] {
    outline: none;
    border: none;
    color: var(--text_btn_main);
    width: calc(100% - 2.13333rem);
    height: 1.17333rem;
    background: var(--main_gradient_color, linear-gradient(180deg, #06d6fd 0%, #0070f4 100%));
    border-radius: .66667rem;
    font-size: .42667rem;
    text-shadow: .01333rem .02667rem .02667rem rgba(0, 0, 0, .3);
    box-shadow: 0 -.01333rem #ffffff40 inset, 0 .02667rem #79ffffb3 inset, 0 .13333rem .26667rem #00000040
}

.forget[data-v-57946a43] {
    padding: 0 .4rem .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9cf65
}

.forget .page-type[data-v-57946a43] {
    font-size: .32rem;
    text-decoration: none;
    display: flex;
    align-items: center
}

.forget .page-type .arrow[data-v-57946a43] {
    margin-left: .13333rem;
    font-size: .37333rem;
    line-height: 1;
    display: inline-block;
    color: var(--norm_hint_color, #EDB04C)
}

.forget .password[data-v-57946a43] {
    font-size: .32rem;
    text-decoration: underline
}

.send[data-v-57946a43] {
    font-size: .32rem;
    width: 1.89333rem;
    height: .85333rem;
    text-align: center;
    line-height: .85333rem;
    color: var(--text_btn_main);
    text-shadow: .01333rem .02667rem .02667rem rgba(0, 0, 0, .3);
    outline: none;
    border: none;
    border-radius: .66667rem;
    background: var(--main_gradient_color, linear-gradient(180deg, #06D6FD 0%, #0070F4 100%))
}