.pagination[data-v-8c0a01c4] {
    margin-top: .53333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .13333rem
}

.pagination-button[data-v-8c0a01c4] {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .10667rem;
    border: .02667rem solid var(--Stroke_color, #2E3847);
    box-sizing: border-box
}

.pagination-button svg[data-v-8c0a01c4] {
    width: .53333rem;
    height: .53333rem;
    color: var(--text_secondary)
}

.pagination-button[data-v-8c0a01c4]:disabled {
    background-color: var(--secondary_color2);
    cursor: not-allowed
}

.pagination-page[data-v-8c0a01c4] {
    display: flex;
    width: .85333rem;
    padding: .14667rem 0;
    justify-content: center;
    align-items: center;
    border-radius: .10667rem;
    border: .02667rem solid var(--Stroke_color, #2E3847);
    color: var(--text_secondary);
    text-align: center;
    font-size: .37333rem;
    line-height: .56rem
}

.pagination-page.active[data-v-8c0a01c4] {
    background: var(--main_color);
    color: var(--text_primary)
}

.pagination-ellipsis[data-v-8c0a01c4] {
    padding: .08rem 0;
    color: var(--text_secondary)
}