.GameRecord__C[data-v-672ab209] {
    text-align: center;
    font-size: .32rem
}

.GameRecord__C-head[data-v-672ab209] {
    height: 1.06667rem;
    line-height: 1.06667rem;
    background: var(--sheet_nva_color);
    border-radius: .13333rem .13333rem 0 0;
    font-weight: 700;
    font-size: .34667rem;
    color: #fff
}

.GameRecord__C-head .van-col[data-v-672ab209] {
    text-align: center
}

.GameRecord__C-body[data-v-672ab209] {
    padding: 0 .26667rem;
    background: var(--darkBg, var(--bg_color_L2));
    color: var(--darkTextW, var(--text_color_L1))
}

.GameRecord__C-body .van-col[data-v-672ab209] {
    text-align: center
}

.GameRecord__C-body .van-col span[data-v-672ab209] {
    margin: 0 .05333rem
}

.GameRecord__C-body-empty[data-v-672ab209] {
    height: 5.33333rem
}

.GameRecord__C-body>div[data-v-672ab209] {
    color: var(--darkTextW, var(--text_color_L1));
    padding: .26667rem 0;
    text-align: left;
    position: relative
}

.GameRecord__C-body>div+div[data-v-672ab209] {
    border-top: .01333rem solid var(--gray-color-1)
}

.GameRecord__C-body-premium[data-v-672ab209] {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between
}

.GameRecord__C-body-premium>div[data-v-672ab209] {
    width: .53333rem;
    height: .53333rem;
    background-repeat: no-repeat;
    background-size: .53333rem;
    background-position: center
}

.GameRecord__C-body-gameText[data-v-672ab209] {
    font-size: .32rem;
    color: #000;
    font-weight: 400
}

.GameRecord__C-foot[data-v-672ab209] {
    height: 1.86667rem;
    background: var(--bg_color_L2);
    color: var(--text_color_L2);
    padding: .46667rem 2.37333rem;
    margin-top: .48rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.GameRecord__C-foot-previous[data-v-672ab209],
.GameRecord__C-foot-next[data-v-672ab209] {
    width: .93333rem;
    height: .93333rem;
    border-radius: .13333rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center
}

.GameRecord__C-foot-previous.disabled[data-v-672ab209],
.GameRecord__C-foot-next.disabled[data-v-672ab209] {
    background: var(--button_dis_color);
    pointer-events: none
}

.GameRecord__C-foot-previous.disabled .GameRecord__C-icon[data-v-672ab209],
.GameRecord__C-foot-next.disabled .GameRecord__C-icon[data-v-672ab209] {
    color: var(--text_color_L2)
}

.GameRecord__C-foot-previous .GameRecord__C-icon[data-v-672ab209],
.GameRecord__C-foot-next .GameRecord__C-icon[data-v-672ab209] {
    color: var(--text_color_L4)
}