.req-permi-popup.van-popup {
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center
}

.req-permi[data-v-d0669d8f] {
    position: relative;
    margin: .21333rem .4rem;
    padding: .42667rem 0;
    background: var(--secondary_color2);
    border-radius: .21333rem;
    color: var(--text_primary);
    font-size: .37333rem;
    font-weight: 500;
    max-width: 10rem
}

.req-permi-container[data-v-d0669d8f] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .32rem;
    padding: 0 .8rem 0 .4rem
}

.req-permi-header[data-v-d0669d8f] {
    margin-bottom: .10667rem
}

.req-permi-icon>img[data-v-d0669d8f] {
    width: 1.44rem;
    height: 1.44rem
}

.req-permi-desc>span[data-v-d0669d8f] {
    color: var(--norm_hint_color);
    font-size: .42667rem;
    font-weight: 600
}

.req-permi-btnbox[data-v-d0669d8f] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: .4rem
}

.req-permi-btn--close[data-v-d0669d8f] {
    position: absolute;
    top: .42667rem;
    right: .26667rem;
    width: .42667rem;
    height: .42667rem;
    cursor: pointer
}

.req-permi-btn--confirm[data-v-d0669d8f]:active {
    opacity: .8
}

.req-permi-btn--confirm[data-v-d0669d8f] {
    color: #fff;
    outline: none;
    border: none;
    height: 1.06667rem;
    aspect-ratio: 650/80;
    background: var(--main_gradient_color);
    margin: auto;
    border-radius: .53333rem
}