.result-item[data-v-451fafcd] {
    width: 8.66667rem;
    margin: 0 auto;
    min-height: 1.76rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    cursor: pointer
}

.result-item_detail[data-v-451fafcd] {
    width: 100%;
    padding: 0 .32rem
}

.result-summary[data-v-451fafcd] {
    min-height: 1.76rem;
    display: flex;
    align-items: center
}

.position[data-v-451fafcd] {
    width: .66667rem;
    margin-right: .26667rem;
    font-size: .37333rem;
    font-weight: 500;
    color: var(--text_color_L1)
}

.badge[data-v-451fafcd] {
    height: .96rem;
    width: .96rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg_color_L2, #fff);
    font-weight: 500;
    margin-right: .16rem;
    font-size: .64rem
}

.small-text[data-v-451fafcd] {
    font-size: .32rem
}

.num_text[data-v-451fafcd] {
    font-size: .64rem
}

.purple[data-v-451fafcd] {
    background-color: #c36fff
}

.brown[data-v-451fafcd] {
    background-color: #b7805f
}

.teal[data-v-451fafcd] {
    background-color: #2ad4c5
}

.blue[data-v-451fafcd] {
    background-color: var(--main-color)
}

.info[data-v-451fafcd] {
    flex: 1;
    font-size: .42667rem;
    font-weight: 400;
    line-height: .45333rem
}

.id[data-v-451fafcd] {
    color: var(--text_color_L1, #04060a);
    font-weight: 500;
    font-size: .42667rem;
    margin-bottom: .16rem
}

.timestamp[data-v-451fafcd] {
    color: var(--text_color_L2, #646c7b);
    font-size: .32rem;
    font-weight: 400;
    line-height: .34667rem;
    margin-top: .02667rem
}

.status-container[data-v-451fafcd] {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.status[data-v-451fafcd] {
    padding: .05333rem .16rem;
    border-radius: .26667rem;
    font-size: .37333rem;
    font-weight: 500;
    margin-bottom: .05333rem
}

.Failed[data-v-451fafcd] {
    background-color: var(--Secondary_Color1);
    color: var(--Secondary_red_color)
}

.Succeed[data-v-451fafcd] {
    background-color: var(--Secondary_Color2);
    color: var(--Secondary_green_color)
}

.amount[data-v-451fafcd] {
    font-size: .32rem;
    font-weight: 700
}

.negative[data-v-451fafcd] {
    color: var(--Secondary_red_color)
}

.positive[data-v-451fafcd] {
    color: var(--Secondary_green_color)
}

.driver[data-v-451fafcd] {
    border-bottom: .01333rem solid var(--Dividing-line_color);
    width: calc(100% + .64rem);
    margin-left: -.32rem;
    margin-bottom: .16rem
}

.details-section .details-title[data-v-451fafcd] {
    font-size: .42667rem;
    font-weight: 400;
    line-height: .64rem;
    margin-bottom: .16rem;
    color: var(--text_color_L1, #04060a)
}

.details-section .details-container[data-v-451fafcd] {
    display: flex;
    flex-direction: column;
    gap: .16rem;
    margin-bottom: .32rem
}

.details-section .detail-item[data-v-451fafcd] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .74667rem;
    padding: 0 .26667rem;
    border-radius: .10667rem;
    background: var(--bg_color_L1, #f6f6f6)
}

.details-section .detail-label[data-v-451fafcd] {
    color: var(--text_color_L2, #646c7b);
    font-size: .32rem
}

.details-section .detail-value[data-v-451fafcd] {
    color: var(--text_color_L1, #04060a);
    font-size: .32rem;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.details-section .with-icon[data-v-451fafcd] {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.details-section .with-icon svg[data-v-451fafcd] {
    width: .42667rem;
    height: .42667rem;
    margin-left: .16rem
}

.details-section .number-circles[data-v-451fafcd] {
    display: flex;
    align-items: center;
    gap: .05333rem
}

.details-section .position-text[data-v-451fafcd] {
    margin-right: .05333rem
}

.details-section .circle[data-v-451fafcd] {
    width: .53333rem;
    height: .53333rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg_color_L2, #fff);
    font-size: .32rem
}

.details-section .small-circle[data-v-451fafcd] {
    width: .53333rem;
    height: .53333rem
}

.details-section .negative[data-v-451fafcd] {
    color: var(--Secondary_red_color)
}

.details-section .positive[data-v-451fafcd] {
    color: var(--Secondary_green_color)
}

.red[data-v-451fafcd] {
    background-color: #fd5358
}

.blue-purple[data-v-451fafcd] {
    background-color: #7b8eff
}

.orange[data-v-451fafcd] {
    background-color: #fbb84d
}

.green[data-v-451fafcd] {
    background-color: #3ac967
}

.light-blue[data-v-451fafcd] {
    background-color: #54b0fd
}

.medium-blue[data-v-451fafcd] {
    background-color: #7fadd1
}

.orange-red[data-v-451fafcd] {
    background-color: #fd8654
}

.status-text[data-v-451fafcd] {
    color: var(--norm_red-color, #fb5b5b)
}