.rule[data-v-d1ef68fb] {
    position: relative;
    padding-top: .32rem
}

.rule .head[data-v-d1ef68fb] {
    color: var(--text_inverse, #3C3D3F);
    font-size: .37333rem;
    font-weight: 500;
    line-height: .42667rem;
    height: .96rem;
    width: 5.86667rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 .21333rem;
    box-sizing: border-box
}

.rule .head .head-words[data-v-d1ef68fb] {
    position: relative;
    z-index: 2
}

.rule .head .head-bg[data-v-d1ef68fb] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0
}

.rule .head .head-right[data-v-d1ef68fb],
.rule .head .head-left[data-v-d1ef68fb] {
    position: absolute;
    top: 0;
    width: .37333rem;
    height: .32rem;
    z-index: 1
}

.rule .head .head-right[data-v-d1ef68fb] {
    right: -.29333rem
}

.rule .head .head-left[data-v-d1ef68fb] {
    left: -.30667rem
}

.rule .head span[data-v-d1ef68fb],
.rule .head .title[data-v-d1ef68fb] {
    position: relative;
    z-index: 2
}

.rule .body[data-v-d1ef68fb] {
    padding: .96rem .42667rem .42667rem;
    background: var(--bg_color_L2, #202733);
    box-shadow: 0 .05333rem .05333rem #03112440;
    border-radius: .21333rem;
    color: var(--text_secondary, #86A1C0);
    font-size: .37333rem
}