.Trend__C[data-v-0a97e629] {
    text-align: center;
    font-size: .32rem
}

.Trend__C-head[data-v-0a97e629] {
    height: 1.06667rem;
    line-height: 1.06667rem;
    background: var(--sheet_nva_color);
    border-radius: .13333rem .13333rem 0 0;
    font-weight: 700;
    font-size: .34667rem;
    color: #fff
}

.Trend__C-head .van-col[data-v-0a97e629] {
    text-align: center
}

.Trend__C-body[data-v-0a97e629] {
    line-height: 1.06667rem;
    background: var(--darkBg, var(--bg_color_L2))
}

.Trend__C-body .van-col[data-v-0a97e629] {
    text-align: center
}

.Trend__C-body-empty[data-v-0a97e629] {
    height: 5.33333rem
}

.Trend__C-body>div[data-v-0a97e629] {
    color: var(--darkTextW, var(--text_color_L1));
    text-align: left;
    position: relative
}

.Trend__C-body-premium[data-v-0a97e629] {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 .10667rem
}

.Trend__C-body-premium>div[data-v-0a97e629] {
    width: .48rem;
    height: .48rem;
    background-repeat: no-repeat;
    background-size: .48rem;
    background-position: center
}

.Trend__C-body-gameText[data-v-0a97e629] {
    font-size: .32rem;
    color: var(--darkTextW, var(--text_color_L1));
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.06667rem
}

.Trend__C-body-gameText span[data-v-0a97e629] {
    line-height: .53333rem
}

.Trend__C-foot[data-v-0a97e629] {
    height: 1.86667rem;
    background: var(--bg_color_L2);
    padding: .46667rem 2.37333rem;
    margin-top: .48rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text_color_L1)
}

.Trend__C-foot-previous[data-v-0a97e629],
.Trend__C-foot-next[data-v-0a97e629] {
    width: .93333rem;
    height: .93333rem;
    border-radius: .13333rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center
}

.Trend__C-foot-previous.disabled[data-v-0a97e629],
.Trend__C-foot-next.disabled[data-v-0a97e629] {
    background: var(--button_dis_color);
    pointer-events: none
}

.Trend__C-foot-previous.disabled .Trend__C-icon[data-v-0a97e629],
.Trend__C-foot-next.disabled .Trend__C-icon[data-v-0a97e629] {
    color: var(--saveTextColor-7)
}

.Trend__C-foot-previous .Trend__C-icon[data-v-0a97e629],
.Trend__C-foot-next .Trend__C-icon[data-v-0a97e629] {
    color: var(--text_color_L4)
}